data/*
*.pyc
.env
youtube_dot_com/clean_up_subs.py
ccs1usr-configuration-jeremy.ini
secrets.ccs1usr-ipvanish-jeremy.ini
nyu_docker_proxy/*.ini

.DS_Store
google_political_transparency_report/nyu_docker_proxy
proxy_test.py
